{
  "swagger": "2.0",
  "info": {
    "description": "An API to allow registration of overseas entities",
    "version": "1.0.0",
    "title": "Companies House - Overseas Entities API"
  },
  "host": "api.companieshouse.gov.uk",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Overseas Entity"
    }
  ],
  "paths": {
    "/transactions/{transaction_id}/overseas-entity": {
      "parameters": [
        {
          "name": "transaction_id",
          "in": "path",
          "required" : true,
          "type" : "string"
        }
      ],
      "post": {
        "summary": "Create an overseas entity registration submission",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Overseas Entity Submission",
            "in": "body",
            "required" : true,
            "schema": {
              "$ref": "#/definitions/OverseasEntitySubmission"
            }
          }
        ],
        "tags": [
          "Overseas Entity"
        ],
        "responses": {
          "201": {
            "description": "Overseas Entity Submission has been successfully created.",
            "schema": {
              "$ref": "#/definitions/OverseasEntitySubmissionCreatedResponse"
            }
          },
          "401":{
            "description": "Unauthorised"
          }
        }
      }
    },
    "/transactions/{transaction_id}/overseas-entity/{overseas_entity_id}/validation-status": {
      "parameters": [
        {
          "name": "transaction_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "overseas_entity_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Verify that the specified Overseas Entities Submission is valid",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Validation Status"
        ],
        "responses": {
          "200": {
            "description": "The specified Overseas Entities Submission is valid.",
            "schema": {
              "$ref": "#/definitions/ValidationStatusResponse"
            }
          },
          "400": {
            "description": "A provided url id failed validation"
          },
          "401":{
            "description": "Unauthorised"
          },
          "404": {
            "description": "Submission not found"
          }
        }
      }
    },
    "/private/transactions/{transaction_id}/overseas-entity/{overseas_entity_id}/filings": {
      "parameters": [
        {
          "name": "transaction_id",
          "in": "path",
          "required" : true,
          "type" : "string"
        },
        {
          "name": "overseas_entity_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Gets filing data ready to send to CHIPS",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Filings"
        ],
        "responses": {
          "200": {
            "description": "Filing data",
            "schema": {
              "$ref": "#/definitions/FilingAPIResponse"
            }
          },
          "400": {
            "description": "A provided url id failed validation"
          },
          "401":{
            "description": "Unauthorised"
          },
          "404": {
            "description": "Submission not found"
          }
        }
      }
    },
    "/transactions/{transaction_id}/overseas-entity/{overseas_entity_id}/costs": {
      "parameters": [
        {
          "name": "transaction_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "overseas_entity_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Get payment costs for registering an overseas entity",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Costs"
        ],
        "responses": {
          "200": {
            "description": "List of costs",
            "schema": {
              "$ref": "#/definitions/CostsResponse"
            }
          },
          "401":{
            "description": "Unauthorised"
          }
        }
      }
    }
  },
  "definitions": {
    "OverseasEntitySubmission": {
      "type": "object",
      "properties": {
        "presenter": {
          "$ref": "#/definitions/Presenter"
        },
        "entity": {
          "$ref": "#/definitions/Entity"
        },
        "beneficial_owners_statement": {
          "$ref": "#/definitions/BeneficialOwnersStatementType"
        },
        "beneficial_owners_individual": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BeneficialOwnerIndividual"
          }
        },
        "beneficial_owners_corporate": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BeneficialOwnerCorporate"
          }
        },
        "beneficial_owners_government_or_public_authority": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BeneficialOwnerGovernmentOrPublicAuthority"
          }
        },
        "managing_officers_individual": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManagingOfficerIndividual"
          }
        },
        "managing_officers_corporate": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManagingOfficerCorporate"
          }
        }
      },
      "required": [
        "presenter",
        "entity"
      ]
    },
    "Presenter": {
      "type": "object",
      "properties": {
        "full_name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        }
      },
      "required": [
        "full_name",
        "email"
      ]
    },
    "Entity": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "incorporation_country": {
          "type": "string"
        },
        "principal_address": {
          "$ref": "#/definitions/Address"
        },
        "service_address": {
          "$ref": "#/definitions/Address"
        },
        "is_service_address_same_as_principal_address": {
          "type": "boolean"
        },
        "email": {
          "type": "string"
        },
        "legal_form": {
          "type": "string"
        },
        "law_governed": {
          "type": "string"
        },
        "public_register_name": {
          "type": "string"
        },
        "registration_number": {
          "type": "string"
        },
        "is_on_register_in_country_formed_in": {
          "type": "boolean"
        }
      },
      "required": [
        "name",
        "incorporation_country",
        "principal_address",
        "is_service_address_same_as_principal_address",
        "email",
        "legal_form",
        "law_governed",
        "public_register_name",
        "registration_number",
        "is_on_register_in_country_formed_in"
      ]
    },
    "BeneficialOwnerIndividual": {
      "type": "object",
      "properties": {
        "first_name": {
          "type": "string"
        },
        "last_name": {
          "type": "string"
        },
        "date_of_birth": {
          "type": "string",
          "format": "date"
        },
        "nationality": {
          "type": "string"
        },
        "usual_residential_address": {
          "$ref": "#/definitions/Address"
        },
        "service_address": {
          "$ref": "#/definitions/Address"
        },
        "is_service_address_same_as_usual_residential_address": {
          "type": "boolean"
        },
        "start_date": {
          "type": "string",
          "format": "date"
        },
        "beneficial_owner_nature_of_control_types": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NatureOfControlType"
          }
        },
        "trustees_nature_of_control_types": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NatureOfControlType"
          }
        },
        "non_legal_firm_members_nature_of_control_types": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NatureOfControlType"
          }
        },
        "is_on_sanctions_list": {
          "type": "boolean"
        }
      }
    },
    "BeneficialOwnerCorporate": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "principal_address": {
          "$ref": "#/definitions/Address"
        },
        "service_address": {
          "$ref": "#/definitions/Address"
        },
        "is_service_address_same_as_principal_address": {
          "type": "boolean"
        },
        "legal_form": {
          "type": "string"
        },
        "law_governed": {
          "type": "string"
        },
        "is_on_register_in_country_formed_in": {
          "type": "boolean"
        },
        "public_register_name": {
          "type": "string"
        },
        "registration_number": {
          "type": "string"
        },
        "start_date": {
          "type": "string",
          "format": "date"
        },
        "beneficial_owner_nature_of_control_types": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NatureOfControlType"
          }
        },
        "trustees_nature_of_control_types": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NatureOfControlType"
          }
        },
        "non_legal_firm_members_nature_of_control_types": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NatureOfControlType"
          }
        },
        "is_on_sanctions_list": {
          "type": "boolean"
        }
      }
    },
    "BeneficialOwnerGovernmentOrPublicAuthority": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "principal_address": {
          "$ref": "#/definitions/Address"
        },
        "service_address": {
          "$ref": "#/definitions/Address"
        },
        "is_service_address_same_as_principal_address": {
          "type": "boolean"
        },
        "legal_form": {
          "type": "string"
        },
        "law_governed": {
          "type": "string"
        },
        "start_date": {
          "type": "string",
          "format": "date"
        },
        "beneficial_owner_nature_of_control_types": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NatureOfControlType"
          }
        },
        "non_legal_firm_members_nature_of_control_types": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NatureOfControlType"
          }
        },
        "is_on_sanctions_list": {
          "type": "boolean"
        }
      }
    },
    "ManagingOfficerIndividual": {
      "type": "object",
      "properties": {
        "first_name": {
          "type": "string"
        },
        "last_name": {
          "type": "string"
        },
        "has_former_names": {
          "type": "boolean"
        },
        "former_names": {
          "type": "string"
        },
        "date_of_birth": {
          "type": "string",
          "format": "date"
        },
        "nationality": {
          "type": "string"
        },
        "usual_residential_address": {
          "$ref": "#/definitions/Address"
        },
        "service_address": {
          "$ref": "#/definitions/Address"
        },
        "is_service_address_same_as_usual_residential_address": {
          "type": "boolean"
        },
        "occupation": {
          "type": "string"
        },
        "role_and_responsibilities": {
          "type": "string"
        }
      }
    },
    "ManagingOfficerCorporate": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "principal_address": {
          "$ref": "#/definitions/Address"
        },
        "service_address": {
          "$ref": "#/definitions/Address"
        },
        "is_service_address_same_as_principal_address": {
          "type": "boolean"
        },
        "legal_form": {
          "type": "string"
        },
        "law_governed": {
          "type": "string"
        },
        "is_on_register_in_country_formed_in": {
          "type": "boolean"
        },
        "public_register_name": {
          "type": "string"
        },
        "registration_number": {
          "type": "string"
        },
        "start_date": {
          "type": "string",
          "format": "date"
        },
        "contact_full_name": {
          "type": "string"
        },
        "contact_email": {
          "type": "string"
        }
      },
      "required": [
        "name",
        "principal_address",
        "is_service_address_same_as_principal_address",
        "legal_form",
        "law_governed",
        "is_on_register_in_country_formed_in",
        "start_date"
      ]
    },
    "Address": {
      "type": "object",
      "properties": {
        "property_name_number": {
          "type": "string"
        },
        "line_1": {
          "type": "string"
        },
        "line_2": {
          "type": "string"
        },
        "town": {
          "type": "string"
        },
        "county": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "postcode": {
          "type": "string"
        }
      },
      "required": [
        "line_1",
        "town",
        "county",
        "postcode"
      ]
    },
    "NatureOfControlType": {
      "type": "string",
      "enum": [
        "OVER_25_PERCENT_OF_SHARES",
        "OVER_25_PERCENT_OF_VOTING_RIGHTS",
        "APPOINT_OR_REMOVE_MAJORITY_BOARD_DIRECTORS",
        "SIGNIFICANT_INFLUENCE_OR_CONTROL"
      ]
    },
    "BeneficialOwnersStatementType": {
      "type": "string",
      "enum": [
        "ALL_IDENTIFIED_ALL_DETAILS",
        "ALL_IDENTIFIED_SOME_DETAILS",
        "SOME_IDENTIFIED_ALL_DETAILS",
        "SOME_IDENTIFIED_SOME_DETAILS",
        "NONE_IDENTIFIED"
      ]
    },
    "OverseasEntitySubmissionCreatedResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "FilingAPIResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/Data"
        },
        "description": {
          "type": "string"
        },
        "description_identifier": {
          "type": "string"
        },
        "description_values": {
          "$ref": "#/definitions/Description"
        },
        "kind": {
          "type": "string"
        }
      }
    },
    "Data": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "object"
        }
      }
    },
    "Description": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "ValidationStatusResponse": {
      "type": "object",
      "properties": {
        "is_valid": {
          "type": "boolean"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationStatusError"
          }
        }
      }
    },
    "ValidationStatusError": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "location_type": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "CostsResponse": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "string"
        },
        "availablePaymentMethods": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "classOfPayment": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string"
        },
        "descriptionIdentifier": {
          "type": "string"
        },
        "descriptionValues": {
          "type": "object",
          "properties": {
            "key": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          }
        },
        "isVariablePayment": {
          "type": "boolean"
        },
        "kind": {
          "type": "string"
        },
        "resourceKind": {
          "type": "string"
        },
        "productType": {
          "type": "string"
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      }
    }
  }
}