{
  "openapi": "3.0.1",
  "info": {
    "title": "Companies House - Overseas Entities API",
    "description": "An API to allow registration of overseas entities",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.companieshouse.gov.uk/"
    }
  ],
  "tags": [
    {
      "name": "Overseas Entity"
    }
  ],
  "paths": {
    "/transactions/{transaction_id}/overseas-entity": {
      "post": {
        "tags": [
          "Overseas Entity"
        ],
        "summary": "Create an overseas entity registration submission",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/OverseasEntitySubmission"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Overseas Entity Submission has been successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverseasEntitySubmissionCreatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorised"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/overseas-entity/{overseas_entity_id}": {
      "put": {
        "tags": [
          "Overseas Entity"
        ],
        "summary": "Update an overseas entity registration submission",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "overseas_entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/OverseasEntitySubmission"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Overseas Entity Submission has been updated."
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorised"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/overseas-entity/{overseas_entity_id}/validation-status": {
      "get": {
        "tags": [
          "Validation Status"
        ],
        "summary": "Verify that the specified Overseas Entities Submission is valid",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "overseas_entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The specified Overseas Entities Submission is valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "A provided url id failed validation"
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Submission not found"
          }
        }
      }
    },
    "/private/transactions/{transaction_id}/overseas-entity/{overseas_entity_id}/filings": {
      "get": {
        "tags": [
          "Filings"
        ],
        "summary": "Gets filing data ready to send to CHIPS",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "overseas_entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filing data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilingAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "A provided url id failed validation"
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Submission not found"
          }
        }
      }
    },
    "/transactions/{transaction_id}/overseas-entity/{overseas_entity_id}/costs": {
      "get": {
        "tags": [
          "Costs"
        ],
        "summary": "Get payment costs for registering an overseas entity",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "overseas_entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of costs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OverseasEntitySubmission": {
        "required": [
          "entity",
          "presenter",
          "beneficial_owners_statement"
        ],
        "type": "object",
        "properties": {
          "presenter": {
            "$ref": "#/components/schemas/Presenter"
          },
          "entity": {
            "$ref": "#/components/schemas/Entity"
          },
          "due_diligence": {
            "$ref": "#/components/schemas/DueDiligence"
          },
          "overseas_entity_due_diligence": {
            "$ref": "#/components/schemas/OverseasEntityDueDiligence"
          },
          "beneficial_owners_statement": {
            "$ref": "#/components/schemas/BeneficialOwnersStatementType"
          },
          "beneficial_owners_individual": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BeneficialOwnerIndividual"
            }
          },
          "beneficial_owners_corporate": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BeneficialOwnerCorporate"
            }
          },
          "beneficial_owners_government_or_public_authority": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BeneficialOwnerGovernmentOrPublicAuthority"
            }
          },
          "managing_officers_individual": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ManagingOfficerIndividual"
            }
          },
          "managing_officers_corporate": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ManagingOfficerCorporate"
            }
          },
          "trusts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Trust"
            }
          }
        }
      },
      "Presenter": {
        "required": [
          "email",
          "full_name"
        ],
        "type": "object",
        "properties": {
          "full_name": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 256
              }
            ]
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 256
          }
        }
      },
      "Entity": {
        "required": [
          "name",
          "incorporation_country",
          "principal_address",
          "is_service_address_same_as_principal_address",
          "email",
          "legal_form",
          "law_governed",
          "is_on_register_in_country_formed_in"
        ],
        "oneOf" : [
          {
            "not" : {
              "required" : [
                "service_address",
                "public_register_name",
                "registration_number"
              ]
            }
          },
          {
            "required" : [
              "service_address"
            ]
          },
          {
            "required" : [
              "public_register_name",
              "registration_number"
            ]
          },
          {
            "required" : [
              "service_address",
              "public_register_name",
              "registration_number"
            ]
          }
        ],
        "type": "object",
        "properties": {
          "name": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 160
              }
            ]
          },
          "incorporation_country": {
            "$ref": "#/components/schemas/OverseasCountry"
          },
          "principal_address": {
            "$ref": "#/components/schemas/Address"
          },
          "service_address": {
            "$ref": "#/components/schemas/Address"
          },
          "is_service_address_same_as_principal_address": {
            "type": "boolean"
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 250
          },
          "legal_form": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 160
              }
            ]
          },
          "law_governed": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 160
              }
            ]
          },
          "public_register_name": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 160
              }
            ]
          },
          "registration_number": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 32
              }
            ]
          },
          "is_on_register_in_country_formed_in": {
            "type": "boolean"
          }
        }
      },
      "DueDiligence": {
        "type": "object",
        "required": [
          "identity_date",
          "name",
          "identity_address",
          "email",
          "supervisory_name",
          "agent_code",
          "partner_name",
          "diligence"
        ],
        "properties": {
          "identity_date": {
            "type": "string",
            "format": "date"
          },
          "name": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 256
              }
            ]
          },
          "identity_address": {
            "$ref": "#/components/schemas/DueDiligenceAddress"
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 256
          },
          "supervisory_name": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 256
              }
            ]
          },
          "aml_number": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 256
              }
            ]
          },
          "agent_code": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 256
              }
            ]
          },
          "partner_name": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 256
              }
            ]
          },
          "diligence": {
            "type": "string",
            "enum": [ "agree" ]
          }
        }
      },
      "OverseasEntityDueDiligence": {
        "required": [
          "name",
          "email",
          "identity_address"
        ],
        "type": "object",
        "properties": {
          "identity_date": {
            "type": "string",
            "format": "date"
          },
          "name": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 256
              }
            ]
          },
          "identity_address": {
            "$ref": "#/components/schemas/DueDiligenceAddress"
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 256
          },
          "supervisory_name": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 256
              }
            ]
          },
          "aml_number": {
            "type": "string",
            "maxLength": 256
          },
          "partner_name": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 256
              }
            ]
          }
        }
      },
      "BeneficialOwnerIndividual": {
        "required": [
          "first_name",
          "last_name",
          "date_of_birth",
          "nationality",
          "usual_residential_address",
          "is_service_address_same_as_usual_residential_address",
          "start_date",
          "is_on_sanctions_list"
        ],
        "anyOf": [
          {
            "required": [
              "beneficial_owner_nature_of_control_types"
            ]
          },
          {
            "required": [
              "trustees_nature_of_control_types",
              "trust_ids"
            ]
          },
          {
            "required": [
              "non_legal_firm_members_nature_of_control_types"
            ]
          }
        ],
        "type": "object",
        "properties": {
          "first_name": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 50
              }
            ]
          },
          "last_name": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 160
              }
            ]
          },
          "date_of_birth": {
            "type": "string",
            "format": "date"
          },
          "nationality": {
            "$ref": "#/components/schemas/FieldPattern"
          },
          "usual_residential_address": {
            "$ref": "#/components/schemas/Address"
          },
          "service_address": {
            "$ref": "#/components/schemas/Address"
          },
          "is_service_address_same_as_usual_residential_address": {
            "type": "boolean"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "beneficial_owner_nature_of_control_types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NatureOfControlType"
            }
          },
          "trustees_nature_of_control_types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NatureOfControlType"
            }
          },
          "non_legal_firm_members_nature_of_control_types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NatureOfControlType"
            }
          },
          "is_on_sanctions_list": {
            "type": "boolean"
          },
          "trust_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "1"
            }
          }
        }
      },
      "BeneficialOwnerCorporate": {
        "required": [
          "name",
          "principal_address",
          "is_service_address_same_as_principal_address",
          "start_date",
          "law_governed",
          "legal_form",
          "is_on_sanctions_list"
        ],
        "anyOf": [
          {
            "required": [
              "beneficial_owner_nature_of_control_types"
            ]
          },
          {
            "required": [
              "trustees_nature_of_control_types",
              "trust_ids"
            ]
          },
          {
            "required": [
              "non_legal_firm_members_nature_of_control_types"
            ]
          }
        ],
        "type": "object",
        "properties": {
          "name": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 160
              }
            ]
          },
          "principal_address": {
            "$ref": "#/components/schemas/Address"
          },
          "service_address": {
            "$ref": "#/components/schemas/Address"
          },
          "is_service_address_same_as_principal_address": {
            "type": "boolean"
          },
          "law_governed": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 160
              }
            ]
          },
          "legal_form": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 160
              }
            ]
          },
          "is_on_register_in_country_formed_in": {
            "type": "boolean"
          },
          "public_register_name": {
            "type": "string"
          },
          "registration_number": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "beneficial_owner_nature_of_control_types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NatureOfControlType"
            }
          },
          "trustees_nature_of_control_types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NatureOfControlType"
            }
          },
          "non_legal_firm_members_nature_of_control_types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NatureOfControlType"
            }
          },
          "is_on_sanctions_list": {
            "type": "boolean"
          },
          "trust_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "1"
            }
          }
        }
      },
      "BeneficialOwnerGovernmentOrPublicAuthority": {
        "required": [
          "name",
          "principal_address",
          "is_service_address_same_as_principal_address",
          "start_date",
          "law_governed",
          "legal_form",
          "is_on_sanctions_list"
        ],
        "anyOf": [
          {
            "required": [
              "beneficial_owner_nature_of_control_types"
            ]
          },
          {
            "required": [
              "trustees_nature_of_control_types",
              "trust_ids"
            ]
          },
          {
            "required": [
              "non_legal_firm_members_nature_of_control_types"
            ]
          }
        ],
        "type": "object",
        "properties": {
          "name": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 160
              }
            ]
          },
          "principal_address": {
            "$ref": "#/components/schemas/Address"
          },
          "service_address": {
            "$ref": "#/components/schemas/Address"
          },
          "is_service_address_same_as_principal_address": {
            "type": "boolean"
          },
          "legal_form": {
            "type": "string"
          },
          "law_governed": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "beneficial_owner_nature_of_control_types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NatureOfControlType"
            }
          },
          "non_legal_firm_members_nature_of_control_types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NatureOfControlType"
            }
          },
          "is_on_sanctions_list": {
            "type": "boolean"
          }
        }
      },
      "ManagingOfficerIndividual": {
        "required": [
          "first_name",
          "last_name",
          "has_former_names",
          "former_names",
          "date_of_birth",
          "nationality",
          "usual_residential_address",
          "service_address",
          "is_service_address_same_as_usual_residential_address",
          "occupation",
          "role_and_responsibilities"
        ],
        "type": "object",
        "properties": {
          "first_name": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 50
              }
            ]
          },
          "last_name": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 160
              }
            ]
          },
          "has_former_names": {
            "type": "boolean"
          },
          "former_names": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 260
              }
            ]
          },
          "date_of_birth": {
            "type": "string",
            "format": "date"
          },
          "nationality": {
            "$ref": "#/components/schemas/FieldPattern"
          },
          "usual_residential_address": {
            "$ref": "#/components/schemas/Address"
          },
          "service_address": {
            "$ref": "#/components/schemas/Address"
          },
          "is_service_address_same_as_usual_residential_address": {
            "type": "boolean"
          },
          "occupation": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 100
              }
            ]
          },
          "role_and_responsibilities": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 256
              }
            ]
          }
        }
      },
      "ManagingOfficerCorporate": {
        "required": [
          "name",
          "principal_address",
          "is_service_address_same_as_principal_address",
          "legal_form",
          "law_governed",
          "is_on_register_in_country_formed_in",
          "role_and_responsibilities",
          "contact_full_name",
          "contact_email"
        ],
        "type": "object",
        "properties": {
          "name": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 50
              }
            ]
          },
          "principal_address": {
            "$ref": "#/components/schemas/Address"
          },
          "service_address": {
            "$ref": "#/components/schemas/Address"
          },
          "is_service_address_same_as_principal_address": {
            "type": "boolean"
          },
          "legal_form": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 160
              }
            ]
          },
          "law_governed": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 160
              }
            ]
          },
          "public_register_name": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 160
              }
            ]
          },
          "registration_number": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 160
              }
            ]
          },
          "is_on_register_in_country_formed_in": {
            "type": "boolean"
          },
          "role_and_responsibilities": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 256
              }
            ]
          },
          "contact_full_name": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 160
              }
            ]
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 250
          }
        }
      },
      "Trust": {
        "type": "object",
        "properties": {
          "trust_id": {
            "type": "string",
            "example": "1"
          },
          "trust_name": {
            "type": "string"
          },
          "creation_date": {
            "type": "string",
            "format": "date"
          },
          "unable_to_obtain_all_trust_info": {
            "type": "boolean"
          },
          "INDIVIDUAL": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TrustIndividual"
            }
          },
          "CORPORATE": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TrustCorporate"
            }
          },
          "HISTORICAL_BO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HistoricalBeneficialOwner"
            }
          }
        }
      },
      "TrustIndividual": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "forename": {
            "type": "string"
          },
          "other_forenames": {
            "type": "string"
          },
          "surname": {
            "type": "string"
          },
          "date_of_birth": {
            "type": "string",
            "format": "date"
          },
          "nationality": {
            "type": "string"
          },
          "sa_address_line_1": {
            "type": "string"
          },
          "sa_address_line_2": {
            "type": "string"
          },
          "sa_address_care_of": {
            "type": "string"
          },
          "sa_address_country": {
            "type": "string"
          },
          "sa_address_locality": {
            "type": "string"
          },
          "sa_address_po_box": {
            "type": "string"
          },
          "sa_address_postal_code": {
            "type": "string"
          },
          "sa_address_premises": {
            "type": "string"
          },
          "sa_address_region": {
            "type": "string"
          },
          "ura_address_line_1": {
            "type": "string"
          },
          "ura_address_line_2": {
            "type": "string"
          },
          "ura_address_care_of": {
            "type": "string"
          },
          "ura_address_country": {
            "type": "string"
          },
          "ura_address_locality": {
            "type": "string"
          },
          "ura_address_po_box": {
            "type": "string"
          },
          "ura_address_postal_code": {
            "type": "string"
          },
          "ura_address_premises": {
            "type": "string"
          },
          "ura_address_region": {
            "type": "string"
          },
          "date_became_interested_person": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "TrustCorporate": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "sa_address_line_1": {
            "type": "string"
          },
          "sa_address_line_2": {
            "type": "string"
          },
          "sa_address_care_of": {
            "type": "string"
          },
          "sa_address_country": {
            "type": "string"
          },
          "sa_address_locality": {
            "type": "string"
          },
          "sa_address_po_box": {
            "type": "string"
          },
          "sa_address_postal_code": {
            "type": "string"
          },
          "sa_address_premises": {
            "type": "string"
          },
          "sa_address_region": {
            "type": "string"
          },
          "ro_address_line_1": {
            "type": "string"
          },
          "ro_address_line_2": {
            "type": "string"
          },
          "ro_address_care_of": {
            "type": "string"
          },
          "ro_address_country": {
            "type": "string"
          },
          "ro_address_locality": {
            "type": "string"
          },
          "ro_address_po_box": {
            "type": "string"
          },
          "ro_address_postal_code": {
            "type": "string"
          },
          "ro_address_premises": {
            "type": "string"
          },
          "ro_address_region": {
            "type": "string"
          },
          "identification_country_registration": {
            "type": "string"
          },
          "identification_legal_authority": {
            "type": "string"
          },
          "identification_legal_form": {
            "type": "string"
          },
          "identification_place_registered": {
            "type": "string"
          },
          "identification_registration_number": {
            "type": "string"
          },
          "date_became_interested_person": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "HistoricalBeneficialOwner": {
        "type": "object",
        "properties": {
          "forename": {
            "type": "string"
          },
          "other_forenames": {
            "type": "string"
          },
          "surname": {
            "type": "string"
          },
          "ceased_date": {
            "type": "string",
            "format": "date"
          },
          "notified_date": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "DueDiligenceAddress": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseAddress"
          },
          {
            "type": "object",
            "required": [
              "country"
            ],
            "properties": {
              "country": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UnitedKingdomCountry"
                }
              }
            }
          }
        ]
      },
      "Address": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseAddress"
          },
          {
            "type": "object",
            "required": [
              "country"
            ],
            "properties": {
              "country": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EveryCountry"
                }
              }
            }
          }
        ]
      },
      "BaseAddress": {
        "type": "object",
        "properties": {
          "property_name_number": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 50
              }
            ]
          },
          "line_1": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 50
              }
            ]
          },
          "line_2": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 50
              }
            ]
          },
          "town": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 50
              }
            ]
          },
          "county": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 50
              }
            ]
          },
          "postcode": {
            "allOf" : [
              {
                "$ref": "#/components/schemas/FieldPattern"
              },
              {
                "maxLength": 20
              }
            ]
          }
        },
        "required": [
          "line_1",
          "town",
          "country"
        ],
        "oneOf": [
          {
            "required": [
              "property_name_number"
            ]
          },
          {
            "required": [
              "county",
              "postcode"
            ]
          }
        ]
      },
      "NatureOfControlType": {
        "type": "string",
        "enum": [
          "OVER_25_PERCENT_OF_SHARES",
          "OVER_25_PERCENT_OF_VOTING_RIGHTS",
          "APPOINT_OR_REMOVE_MAJORITY_BOARD_DIRECTORS",
          "SIGNIFICANT_INFLUENCE_OR_CONTROL"
        ]
      },
      "BeneficialOwnersStatementType": {
        "type": "string",
        "enum": [
          "ALL_IDENTIFIED_ALL_DETAILS",
          "SOME_IDENTIFIED_ALL_DETAILS",
          "NONE_IDENTIFIED"
        ]
      },
      "OverseasEntitySubmissionCreatedResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        }
      },
      "FilingAPIResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Data"
          },
          "description": {
            "type": "string"
          },
          "description_identifier": {
            "type": "string"
          },
          "description_values": {
            "$ref": "#/components/schemas/Description"
          },
          "kind": {
            "type": "string"
          }
        }
      },
      "Data": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "object",
            "properties": {}
          }
        }
      },
      "Description": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "ValidationStatusResponse": {
        "type": "object",
        "properties": {
          "is_valid": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationStatusError"
            }
          }
        }
      },
      "ValidationStatusError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "location_type": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "CostsResponse": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string"
          },
          "availablePaymentMethods": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "classOfPayment": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": {
            "type": "string"
          },
          "descriptionIdentifier": {
            "type": "string"
          },
          "descriptionValues": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "isVariablePayment": {
            "type": "boolean"
          },
          "kind": {
            "type": "string"
          },
          "resourceKind": {
            "type": "string"
          },
          "productType": {
            "type": "string"
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        }
      },
      "FieldPattern": {
        "type": "string",
        "pattern": "^[-,.:; 0-9A-Z&@$£¥€'\"«»?!/\\\\()\\[\\]{}<>*=#%+ÀÁÂÃÄÅĀĂĄÆǼÇĆĈĊČÞĎÐÈÉÊËĒĔĖĘĚĜĞĠĢĤĦÌÍÎÏĨĪĬĮİĴĶĹĻĽĿŁÑŃŅŇŊÒÓÔÕÖØŌŎŐǾŒŔŖŘŚŜŞŠŢŤŦÙÚÛÜŨŪŬŮŰŲŴẀẂẄỲÝŶŸŹŻŽa-zſƒǺàáâãäåāăąæǽçćĉċčþďðèéêëēĕėęěĝģğġĥħìíîïĩīĭįĵķĺļľŀłñńņňŋòóôõöøōŏőǿœŕŗřśŝşšţťŧùúûüũūŭůűųŵẁẃẅỳýŷÿźżž]*$"
      },
      "EveryCountry": {
        "type": "string",
        "allOf": [
          {
            "$ref": "#/components/schemas/UnitedKingdom"
          },
          {
            "$ref": "#/components/schemas/UnitedKingdomCountry"
          },
          {
            "$ref": "#/components/schemas/OverseasCountry"
          }
        ]
      },
      "UnitedKingdom": {
        "type": "string",
        "enum": [
          "United Kingdom"
        ]
      },
      "UnitedKingdomCountry": {
        "type": "string",
        "enum": [
          "England",
          "Scotland",
          "Wales",
          "Northern Ireland"
        ]
      },
      "OverseasCountry": {
        "type": "string",
          "enum": [
            "Afghanistan",
            "Aland Islands",
            "Albania",
            "Alderney",
            "Algeria",
            "American Samoa",
            "Andorra",
            "Angola",
            "Anguilla",
            "Antarctica",
            "Antigua and Barbuda",
            "Argentina",
            "Armenia",
            "Aruba",
            "Australia",
            "Austria",
            "Azerbaijan",
            "Bahamas",
            "Bahrain",
            "Bangladesh",
            "Barbados",
            "Belarus",
            "Belgium",
            "Belize",
            "Benin",
            "Bermuda",
            "Bhutan",
            "Bolivia",
            "Bonaire, Sint Eustatius and Saba",
            "Bosnia and Herzegovina",
            "Botswana",
            "Bouvet Island",
            "Brazil",
            "British Indian Ocean Territory",
            "Brunei Darussalam",
            "Bulgaria",
            "Burkina Faso",
            "Burundi",
            "Cambodia",
            "Cameroon",
            "Canada",
            "Cape Verde",
            "Cayman Islands",
            "Central African Republic",
            "Chad",
            "Chile",
            "China",
            "Christmas Island",
            "Cocos (Keeling) Islands",
            "Colombia",
            "Comoros",
            "Congo",
            "Congo, the Democratic Republic of the",
            "Cook Islands",
            "Costa Rica",
            "Croatia",
            "Cuba",
            "Curacao",
            "Cyprus",
            "Czech Republic",
            "Denmark",
            "Djibouti",
            "Dominica",
            "Dominican Republic",
            "East Timor",
            "Ecuador",
            "Egypt",
            "El Salvador",
            "Equatorial Guinea",
            "Eritrea",
            "Estonia",
            "Eswatini",
            "Ethiopia",
            "Falkland Islands",
            "Faroe Islands",
            "Fiji",
            "Finland",
            "France",
            "French Guiana",
            "French Polynesia",
            "French Southern Territories",
            "Gabon",
            "Gambia",
            "Georgia",
            "Germany",
            "Ghana",
            "Gibraltar",
            "Greece",
            "Greenland",
            "Grenada",
            "Guadeloupe",
            "Guam",
            "Guatemala",
            "Guernsey",
            "Guinea",
            "Guinea-Bissau",
            "Guyana",
            "Haiti",
            "Heard Island and McDonald Islands",
            "Herm",
            "Honduras",
            "Hong Kong",
            "Hungary",
            "Iceland",
            "India",
            "Indonesia",
            "Iran",
            "Iraq",
            "Ireland",
            "Isle of Man",
            "Israel",
            "Italy",
            "Ivory Coast",
            "Jamaica",
            "Japan",
            "Jersey",
            "Jordan",
            "Kazakhstan",
            "Kenya",
            "Kiribati",
            "Kosovo",
            "Kuwait",
            "Kyrgyzstan",
            "Laos",
            "Latvia",
            "Lebanon",
            "Lesotho",
            "Liberia",
            "Libya",
            "Liechtenstein",
            "Lithuania",
            "Luxembourg",
            "Macao",
            "Macedonia",
            "Madagascar",
            "Malawi",
            "Malaysia",
            "Maldives",
            "Mali",
            "Malta",
            "Marshall Islands",
            "Martinique",
            "Mauritania",
            "Mauritius",
            "Mayotte",
            "Mexico",
            "Micronesia",
            "Moldova",
            "Monaco",
            "Mongolia",
            "Montenegro",
            "Montserrat",
            "Morocco",
            "Mozambique",
            "Myanmar",
            "Namibia",
            "Nauru",
            "Nepal",
            "Netherlands",
            "New Caledonia",
            "New Zealand",
            "Nicaragua",
            "Niger",
            "Nigeria",
            "Niue",
            "Norfolk Island",
            "North Korea",
            "Northern Mariana Islands",
            "Norway",
            "Oman",
            "Pakistan",
            "Palau",
            "Palestine, State of",
            "Panama",
            "Papua New Guinea",
            "Paraguay",
            "Peru",
            "Philippines",
            "Pitcairn",
            "Poland",
            "Portugal",
            "Puerto Rico",
            "Qatar",
            "Reunion",
            "Romania",
            "Russia",
            "Rwanda",
            "Saint Barthelemy",
            "Saint Helena, Ascension and Tristan da Cunha",
            "Saint Kitts and Nevis",
            "Saint Lucia",
            "Saint Martin (French part)",
            "Saint Pierre and Miquelon",
            "Saint Vincent and the Grenadines",
            "Samoa",
            "San Marino",
            "Sao Tome and Principe",
            "Sark",
            "Saudi Arabia",
            "Senegal",
            "Serbia",
            "Seychelles",
            "Sierra Leone",
            "Singapore",
            "Sint Maarten (Dutch part)",
            "Slovakia",
            "Slovenia",
            "Solomon Islands",
            "Somalia",
            "South Africa",
            "South Georgia and the South Sandwich Islands",
            "South Korea",
            "South Sudan",
            "Spain",
            "Sri Lanka",
            "Sudan",
            "Suriname",
            "Svalbard and Jan Mayen",
            "Sweden",
            "Switzerland",
            "Syria",
            "Taiwan",
            "Tajikistan",
            "Tanzania",
            "Thailand",
            "Togo",
            "Tokelau",
            "Tonga",
            "Trinidad and Tobago",
            "Tunisia",
            "Turkey",
            "Turkmenistan",
            "Turks and Caicos Islands",
            "Tuvalu",
            "Uganda",
            "Ukraine",
            "United Arab Emirates",
            "United States",
            "United States Minor Outlying Islands",
            "Uruguay",
            "Uzbekistan",
            "Vanuatu",
            "Vatican City",
            "Venezuela",
            "Vietnam",
            "Virgin Islands, British",
            "Virgin Islands, U.S.",
            "Wallis and Futuna",
            "Western Sahara",
            "Yemen",
            "Zambia",
            "Zimbabwe"
        ]
      }
    }
  }
}
